

*{
    margin: 0%;
    padding-top: 5px;
}

.div-flexbox {
    display:flex;
    flex-direction: column;
    background: rgb(62,62,62);
    background: linear-gradient(0deg, rgba(62,62,62,1) 0%, rgba(174,174,174,1) 7%, rgba(244,244,244,1) 100%);
    width: 150px;
    border-radius: 5px; 

}

 .div-link {
    padding: 28px;
    color: #2b2b2b;
}

.logo {
    font-size: 25px;
}


a {
    text-decoration: none;
    color: #2b2b2b;
}

a:hover {
    color: #2b2bb2;
    transition: 0.3s;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}

.p-1 {
    margin: 0%;
    padding: 0%;
}
