

@media screen and (max-width: 375px) {

    .content{
        flex-wrap: wrap;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .content{
        flex-wrap: wrap;
        width: 100%;
    }
}

* {
    margin: 0%
}

body {
    background-color: rgb(231, 231, 231);

}

.content {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.items {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: rgb(218,218,218);
    background: linear-gradient(0deg, rgba(218,218,218,1) 1%, rgba(111,111,111,1) 100%, rgba(244,244,244,1) 100%);
    margin: 25px;
    padding: 30px;
    width: 200px;
    height: 350px;
    border-radius: 20px;
    color: rgb(15, 15, 15);
    align-items: center;
}

.items-01 {
    width: 200px;
    height: 370px;
    border-radius: 25px;

}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aliceblue;
    position: relative;
    bottom: 25px;
    right: 25px;
}

.nome {
    font-size: 15px;
    position: relative;
    bottom: 70px;
    left: 35px;
}


.date {
    font-size: 10px;
    position: relative;
    bottom: 70px;
    left: 38px;
    color: white;
    
}

.img-01 {
    width: 260px;
    height: 220px;
    position: relative;
    right: 30px;
    bottom: 52px;
}

.button {
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 43px;
    right: 15px;
    border-radius: 5px;
    border: white;
}

#button-02 {
    margin-left: 10px;
}


.text {
    font-size: 12px;
    position: relative;
    bottom: 33px;
    right: 20px;
}
