

body {
    background-color: rgb(11, 12, 17);
}

nav > ul {
    list-style-type: none;
    background-color: rgb(10, 10, 59);
    padding: 15px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
    display: block;
}

nav > ul >li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline;
    padding: 8px;
    width: 50%;
    color: white;
    text-align: center;
}
    


.input-search {
    float: right;
    min-width: 768 pixel;
    height: 20px;
    padding: 0px;
    margin: 0px;
    
    
    
}



.button-02{
    float: right;
} 

#button-hover:hover{
    background-color: green;
    color: white;
}





