aside {
    float: right;
    display: block;
}

.div-link {
    
    padding: 40px;
    text-decoration: none;
    color: #2b2b2b;
}

.div-link:hover {
    color: #2b2bb2;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: #2b2b2b;
}

a:hover {
    color: #2b2bb2;
    transition: 0.3s;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.p-1 {
    margin: 0%;
    padding: 0%;
}